:root{
    background-color: #604991;
}

.container{
    padding: 15% 25%;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 60px;
}

p{
    font-size: 30px;
}

button{
    font-weight: bold;
    padding: 15px 25px;
    font-size: 25px;
    background-color: #bba8e6;
    border-radius: 20px;
}

button:hover{
    background-color: #a5e6cc;
    cursor: pointer;
}

#timer{
    padding: 0 25%;
    display: flex;
}

#score{
    padding: 0 25%;
    display: flex;
}
#question{
    padding: 15px 20px;
    margin: 10%;
    flex-wrap: wrap;
    text-align: center;
    border-style: double;
    background-color: #251854;
    display: flex;
    flex-direction: column;
}

.choices{
    display: flex;
    justify-content: center;
    background-color: #a5e6cc;
    margin: 10px;
    padding: 0 25%;
    border-radius: 5px;
}

.choices:hover{
    transform: scale(1.05);
    background-color: #bba8e6;
    cursor: pointer;
}
.choice-letter{
    flex-wrap: wrap;
    margin: 30px 50px;

}

.choice-text{
    flex-wrap: wrap;
}

